Source: com.github.avojak.iridium
Section: x11
Priority: extra
Maintainer: Andrew Vojak <andrew.vojak@gmail.com>
Build-Depends: debhelper (>= 10.5.1),
               gettext,
               libgtk-3-dev (>= 3.10),
               meson,
               valac (>= 0.28.0),
               libgranite-dev,
               libgee-0.8-dev,
               sqlite3-dev
Standards-Version: 4.1.1

Package: com.github.avojak.iridium
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Iridium
 Friendly IRC Client
